body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: cornflowerblue;
}

Header {
    background-color: rgb(199, 137, 188);
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  aquamarine;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}


.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}


footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}
